body {
  background-color: rgb(100,0,255);
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;

}
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

span {
  font-weight: bold;
}
.center{
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
